/* .novoCard{
    width: 600px;
    margin: 0 auto;
    background-color: #252525;
    color: #fff;

}

.cardVermelho{
    width: 600px;
    margin: 0 auto;
    background-color: #252525;
    color: red;
} */


.cardPrincipal{
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    background-color: #252525;
    color: #fff;
}



